<h4><%= t('messages.error_404') %></h4>

<%= t('messages.error_404_description').html_safe %>

<br style="clear: both;"/><br style="clear: both;"/>
<%= link_to "<i class='icon-home'></i>&nbsp;&nbsp;#{t('home')}".html_safe, root_path, :class => 'btn-flat' %>




