
<% content_for :title do %>
  <%= "#{t('password_recovery')}" %>
<% end %>

<% content_for :body do %>
  <font size="4" style="text-decoration:none;color:#5c6972;font-size:16px;line-height:22px" face="Helvetica Neue, Arial, Helvetica, sans-serif">
    Olá, <%= @resource.full_name %>!
  </font>
  <table cellspacing="0" cellpadding="0" width="500">
    <tbody>
    <tr>
      <td align="left" valign="middle" height="100" style="padding: 15px;">
        <font size="4" style="text-decoration:none;color:#5c6972;font-size:16px;line-height:22px" face="Helvetica Neue, Arial, Helvetica, sans-serif">
          Recebemos uma solicitação para recuperar a senha de acesso. Você pode criar uma nova senha através do link abaixo:
        </font>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" height="100">
        <a href="<%= edit_password_url(@resource, :reset_password_token => @token) %>" style="padding:12px 30px 12px;border-radius:2px;text-decoration:none;background:#0eb0dd" target="_blank">
          <font size="4" color="#fff" face="Helvetica Neue, Arial, Helvetica, sans-serif" style="font-size:14px;line-height:25px;font-weight:bold">
            Definir nova senha de acesso
          </font>
        </a>
      </td>
    </tr>
      <tr>
        <td align="left" valign="middle" height="100" style="padding: 15px;">
          <font size="4" style="text-decoration:none;color:#5c6972;font-size:16px;line-height:22px" face="Helvetica Neue, Arial, Helvetica, sans-serif">
          Se você não solicitou a recuperação de senha, simplesmente ignore este e-mail.
          Sua senha não será alterada até que você acesse o link acima e crie uma nova.
        </font>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>

